* {
    margin: 0;
    padding: 0;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10 15;
}

#header{
background-color: lightblue;
text-align: center;
grid-column: 1 / 4;
margin: 10 10;
}

#plus {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    background-color: cornflowerblue;
}

#minus {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10 10;
    height: 250px;
    background-color: coral;
}

#times {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10 10;
    height: 250px;
    background-color: springgreen;
}
/* 
#footer{
    background-color: lightblue;
    text-align: center;
    grid-column: 1 / 4;
    } */